.iso {
  background-color: #dbe9f2; 
}

.aso {
  background-color: #e299ff; 
}

.hlld {
  background-color: #d0dae5; 
}

.web {
  background-color: #f3ff4a; 
}

.fm {
  background-color: #b8cce4; 
}

.bbdd {
  background-color: #e7ed92; 
}

.ipo1 {
  background-color: #fbb2de; 
}

.pati {
  background-color: #e0e0e0; 
}

.sx {
  background-color: #ffd95b; 
}

.tutoria {
  background-color: #fed0f7;
}

.ipo2 {
  background-color: #e9d9cb;
}

.fm {
  background-color: #9ffa86;
}